<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Buscapé</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
    </head>
    <body>
        <div class="central">
            <h1>Produtos</h1><br>
            <a class="carrinho">Carrinho</a> <a class="reset" href="/" >Reset</a>
            {% for produto in produto_list %}
            <section class="produtos">
                    {{produto.get_nome()}}<br><br>
                    {{produto.get_parcela()}}x de R${{produto.get_valor_parcela()}}<br><br>
                    Ou R${{produto.get_valor()}} à vista<br><br>
                    <a class="add-button" href="{{ url_for('add', id=produto.get_id()) }}"> + Adicionar ao Carrinho</a>
            </section>
            {% endfor %}
            
            
             <section class="carrinho-lista">
                <h2>Carrinho</h2>
                {% for carrinho in carrinho_list %}
                    <section class="caixa-carrinho">
                        {{carrinho.get_nome()}}<br><br>
                        {{carrinho.get_parcela()}}x de R${{carrinho.get_valor_parcela()}}<br><br>
                        Ou R${{carrinho.get_valor()}} à vista<br><br>
                        <a class="delete-button" href="{{ url_for('delete', id=carrinho.get_id()) }}"> - Remover do Carrinho</a>
                    </section>
                {% endfor %}
            </section>
        </div>
    </body>
</html>